<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<title>Envoy | Home</title>

	<link rel="stylesheet" type="text/css" href="build/styles/app.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
	<header>
		<div class="menu">
			<a href="#" class="logo"><img src="assets/images/logo.png" width="87" height="25"></a>

			<ul>
				<li class="item"><a href="#">Work</a></li>
				<li class="item"><a href="#">Services</a></li>
				<li class="item"><a href="#">Ventures</a></li>
				<li class="item"><a href="#">About</a></li>
				<li class="item"><a href="#">Contact</a></li>
				<li class="item"><a href="#">Blog</a></li>
			</ul>

			<a href="#" class="tweet"><img src="assets/images/tweet.png" width="200" height="40"></a>
		
			<i class="hamburger fa fa-bars fa-2x"></i>
		</div>
	</header>

	<section class="carousel">
		<div class="owl-carousel">
			<div class="slide slide-1">
				<div class="content">
					<h1>The IPHONE UNCHAINED.</h1>
					<p>Tarantino’s outrageous film Djano Unchained needed an equally in your face mobile experience. Bloody good awesomeness ensued. <a href="#">View Project</a></p>
				</div>
			</div>
			<div class="slide slide-2">
				<div class="content">
					<h1>SAY HELLO TO THE future of vizio.</h1>
					<p>When Vizio needed to pull the wrap off its new family of PCs they called on Envoy to conceptualize, direct and produce a series of short product films. <a href="#">View Project</a></p>
				</div></div>
			<div class="slide slide-3">
				<div class="content">
					<h1>HELPING Earth’s Greatest Secrets break out.</h1>
					<p>Activate rocket boots! We created a series of out of this world mobile apps and games to introduce the hilarious animated film Escape From Planet Earth. <a href="#">View Project</a></p>
				</div>
			</div>
			<div class="slide slide-4"> 
				<div class="content">
					<h1>WORLD MEET ULTRA. ULTRA MEET WORLD.</h1>
					<p>Asked to launch T-Mobile’s new internationally-minded brand, Ultra Mobile, we created a campaign that’s creativity knows no borders. <a href="#">View Project</a></p>
				</div>
			</div>

		</div>
		<div class="controls">
			<img class="left" src="assets/images/arrow-left.png">
			<img class="right" src="assets/images/arrow-right.png">
		</div>
	</section>
	
	<section class="tagline">
		<h1>An independent full service creative agency helping brave brands build businesses and be heard in a world full of noise. <span class="red">We are Envoy.</span></h1>
	</section>

	<section class="featured-work">
		<div class="heading">
			<h2>Featured Work</h2><a href="#">View All Work</a>
		</div>
		<div class="item">
			<img src="assets/images/work-1.jpg">
			<h3>Boost Mobile <span class="teal">Rebrand</span></h3>
			<p>Boost Mobile recognized the need to elevate and refresh its brand to speak to a broader audience. The result was an evolved logo, ...</p>
			<a href="#">View Project</a>
		</div>
		<div class="item">
			<img src="assets/images/work-2.jpg">
			<h3>Pear Sports <span class="teal">Training Portal</span></h3>
			<p>Pear Sports revolutionary training systems and fitness apps were getting lost in a crowded marketplace. Envoy rebuilt the story and ... </p>
			<a href="#">View Project</a>
		</div>
		<div class="item">
			<img src="assets/images/work-3.jpg">
			<h3>5.11 <span class="teal">Ultimate Training Experience</span></h3>
			<p>5.11, the industry leader in tactical gear turned to Envoy to bring their “Ultimate Training Challenge” to life in the digital space ...</p>
			<a href="#">View Project</a>
		</div>
	</section>

	<section class="wire">
		<div class="heading">
			<h2>Wire</h2><a href="#">View All News</a>
		</div>

		<div class="item">
			<h3>The Weinstein Co Lets Envoy Loose on Sin City 2</h3>
			<div class="date">May 1, 2013</div>
			<a href="#">Read More</a>
		</div>
		<div class="item">
			<h3>5.11 Taps Envoy as New Digital Agency</h3>
			<div class="date">May 1, 2013</div>
			<a href="#">Read More</a>
		</div>
		<div class="item">
			<h3 class="teal">Pear Breaks Ground on Ground Breaking App</h3>
			<div class="date">May 1, 2013</div>
			<a href="#">Read More</a>
		</div>
	</section>


	<script src="build/scripts/vendor.js"></script>
	<script src="build/scripts/app.js"></script>
</body>
</html>