@media (max-width: $screen-sm-min) {

header{
	height: 60px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.9);

	.menu{
		width: 100%;

		ul{
			display: inline-block;
			clear: both;
			width: 100%;
			margin-bottom: 40px;

			.item{
				display: inline-block;
				clear: both;
				width: 100%;
					
				a{
					display: block;
					padding: 6px 0;
					font-weight: bold;
					font-size: 24px;
					width: 100%;
					height: 100%;
					color: $white;
				}

				a:hover{
					color: $red;
				}
			}
		}

		.tweet{
			display: block;
			position: static;
			left: 0;

			img{

			}
		}

		.hamburger{
			display: block;
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}
}

section{
    padding: 60px 30px 40px 30px;

    .heading{
		h2{
			font-size: 36px;
		}

		a{
			font-size: 24px;
		}
	}

	&.carousel{
		
		.owl-carousel{
			
			h1{
				color: $dark-red;
				font-family: 'Oswald', 'sans-serif';
				font-size: 32px;
				line-height: 1.2em;
				margin: 0 0 8px 0;
				text-transform: uppercase;
			}

			p{
				font-size: 16px;
				line-height: 1.2em;

				a{
					font-size: 16px;
					font-weight: normal;
				}
			}

			.slide{
				height: 360px;

				padding: 20px;

				.content{
					width: 100%;
					margin: 0 auto;
				}

				&.slide-1{
					background-image: url('../../assets/images/slide-1.jpg');

					.content{
						padding: 80px 0 0 0;

						h1{
							width: 300px;
						}

						p{
							width: 100%;
						}
					}
				}

				&.slide-2{
					background-image: url('../../assets/images/slide-2.jpg');

					.content{
						padding: 80px 0 0 0;

						h1{
							width: 100%;
						}

						p{
							width: 100%;
						}
					}
				}

				&.slide-3{
					background-image: url('../../assets/images/slide-3.jpg');

					.content{
						padding: 80px 0 0 0;

						h1{
							width: 100%;
							color: #f68f1e;
						}

						p{
							width: 100%;
							color: #FFFFFF;

							a{
								color: #f68f1e;
							}
						}
					}
				}

				&.slide-4{
					background-image: url('../../assets/images/slide-4.jpg');

					.content{
						padding: 80px 0 0 0;

						h1{
							width: 100%;
							color: #2162bc;
						}

						p{
							width: 100%;

							a{
								color: #2162bc;
							}
						}
					}
				}
			}
		}
	}
	
	&.tagline{
		padding: 60px 20px 40px 20px;
		margin-bottom: 0px;
	}

	&.featured-work{
		.item{
			@include span-columns(12);
			margin-bottom: 40px;
		}
	}

	&.wire{
		padding-top: 0;
		.item{
			@include span-columns(12);
			margin-bottom: 40px;
		}
	}
}

}