html{
	font-family: 'Arial', 'sans-serif';
	-webkit-font-smoothing: antialiased;
	
	body{
		background-color: $dark-grey;
		color: $white;
	}
}

a{
	text-decoration: none;
	color: $red;
	font-size: 18px;
	font-weight: bold;
}

h1{
	font-size: 36px;
	font-weight: bold;
}

h2{
	display: inline-block;
	font-size: 22px;
	font-weight: bold;
	margin-right: 10px;
	color: $light-grey;
}

h3{
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	color: $white;
	margin-bottom: 10px;
}

p{
	color: $light-grey;
	font-size: 13px;
	margin-bottom: 10px;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	z-index: 1;

	.menu{
		@include outer-container;
		
		display: inline-block;
		position: relative;
		padding: 20px 10px 0 10px;
		width: 960px;
		height: 100%;
		margin: 0 auto;
		text-align: left;
		
		.logo{
			float: left;
			margin-right: 24px;
		}

		ul{
			float: left;
			margin: 12px 0 0 0;

			.item{
				float: left;
				margin-right: 22px;
				
				a{
					font-weight: bold;
					font-size: 13px;
					color: $white;
				}

				a:hover{
					color: $red;
				}
			}
		}

		.tweet{
			position: absolute;
			right: 10px;
			bottom: 0;

			img{
				display: block;
			}
		}

		.hamburger{
			display: none;
		}
	}
}

section{
	@include outer-container;

	margin: 0 auto;
	padding: 0 10px 80px 10px;
	max-width: 960px;

	.heading{
		font-size: 18px;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 2px solid #282828;

		a{
			font-size: 13px;
		}
	}

	&.carousel{
		@include outer-container(100%);

		position: relative;
		width: 100%;
		padding: 0;
		background-color: $white;

		.owl-carousel{
			height: 100%;

			h1{
				color: $dark-red;
				font-family: 'Oswald', 'sans-serif';
				font-size: 52px;
				line-height: 1.2em;
				margin: 0 0 8px 0;
				text-transform: uppercase;
			}

			p{
				font-size: 16px;
				line-height: 1.2em;

				a{
					font-size: 16px;
					font-weight: normal;
				}
			}

			.owl-controls{
				position: absolute;
				margin: 0;
				width: 100%;
				bottom: 10px;
				.owl-pagination{
					.owl-page{
						span{
							background-color: $light-grey;
							opacity: 1;
						}

						&.active{
							span{
								background-color: $red;
								opacity: 1;
							}
						}
					}
					
				}
			}

			.slide{
				height: 674px;
				background-size: cover;
				background-position: center;

				.content{
					width: 940px;
					margin: 0 auto;
				}

				&.slide-1{
					background-image: url('../../assets/images/slide-1.jpg');

					.content{
						padding: 200px 0 0 0;

						h1{
							width: 300px;
						}

						p{
							width: 370px;
						}
					}
				}

				&.slide-2{
					background-image: url('../../assets/images/slide-2.jpg');

					.content{
						padding: 123px 0 0 490px;

						h1{
							width: 300px;
						}

						p{
							width: 400px;
						}
					}
				}

				&.slide-3{
					background-image: url('../../assets/images/slide-3.jpg');

					.content{
						padding: 120px 0 0 0;

						h1{
							width: 400px;
							color: #f68f1e;
						}

						p{
							width: 400px;
							color: #FFFFFF;

							a{
								color: #f68f1e;
							}
						}
					}
				}

				&.slide-4{
					background-image: url('../../assets/images/slide-4.jpg');

					.content{
						padding: 140px 0 0 0;

						h1{
							width: 440px;
							color: #2162bc;
						}

						p{
							width: 400px;

							a{
								color: #2162bc;
							}
						}
					}
				}
			}
		}

		.controls{
			position: absolute;
			right: 10px;
			bottom: 20px;
			width: 64px;

			.left{
				float: left;
				cursor: pointer;
			}

			.right{
				float: right;
				cursor: pointer;
			}
		}
	}

	&.tagline{
		margin-bottom: 70px;
		padding: 60px 10px 40px 10px;
		border-bottom: 5px solid #282828;
	}

	&.featured-work{
		.item{
			@include span-columns(4);
		
			img{
				display: inline-block;
				width: 100%;
				margin-bottom: 20px;
			}

			a{
				font-size: 13px;
			}
		}
	}

	&.wire{
		.item{
			@include span-columns(4);
		
			h3{
				font-size: 36px;
				letter-spacing: -0.05em;
				line-height: 0.95em;
				min-width: 120px;
			}

			.date{
				color: #9f9f9f;
				font-size: 13px;
				margin-bottom: 10px;
			}

			a{
				font-size: 13px;
			}
		}
	}
}