// Screen Break Points
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// Colors
$white: #ffffff;
$dark-red: #d90e0a;
$red: #e34e33;
$teal: #67d9da;
$dark-grey: #1d1d1d;
$light-grey: #9f9f9f;

// Global Styles
.red{ color: $red; }
.teal{ color: $teal; }

// This is for vertical centering
.vert-center-outer {
	display: table;
	height: 100%;
	width: 100%;
}
.vert-center-middle {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
.vert-center-inner {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}